In [4]:
!pip install pymysql
import pymysql
import pandas as pd

Requirement already satisfied: pymysql in c:\users\cgst chennai zone\anaconda3\lib\site-packages (1.1.0)

In [5]:
cnx = pymysql.connect(host="localhost", user="root",
                          passwd="naruto", port=3306)

cursor = cnx.cursor(pymysql.cursors.DictCursor)

In [6]:
query = "SELECT * FROM `weather_data_schema`.`weather_data`;"

In [7]:
cursor.execute(query)
result = cursor.fetchall()

In [8]:
df = pd.DataFrame(result)
df

,address,latitude,longitude,datetime,maxt,mint,temp,precip,wspd,wdir,wgust,pressure
0,Ireland,53.3481,-6.24827,2023-05-01,61.3,44.1,54.2,0.10,14.5,239.50,NaN,1019.4
1,Ireland,53.3481,-6.24827,2023-05-02,61.4,44.0,53.4,0.00,12.0,129.33,NaN,1023.8
2,Ireland,53.3481,-6.24827,2023-05-03,59.7,48.5,53.8,0.00,14.8,115.63,NaN,1022.3
3,Ireland,53.3481,-6.24827,2023-05-04,54.6,47.1,51.2,0.02,21.1,89.54,33.3,1012.1
4,Ireland,53.3481,-6.24827,2023-05-05,64.5,50.7,56.8,0.18,14.8,176.83,NaN,1006.5
...,...,...,...,...,...,...,...,...,...,...,...,...
74,Ireland,53.3481,-6.24827,2023-07-14,63.9,55.6,58.2,0.66,22.7,148.67,38.7,999.5
75,Ireland,53.3481,-6.24827,2023-07-15,59.0,55.4,57.4,0.30,21.5,227.38,36.9,990.0
76,Ireland,53.3481,-6.24827,2023-07-16,64.0,53.7,57.2,0.00,20.4,252.96,32.2,1004.6
77,Ireland,53.3481,-6.24827,2023-07-17,64.3,53.6,58.1,0.00,11.8,248.35,NaN,1014.7
78,Ireland,53.3481,-6.24827,2023-07-18,63.1,54.2,57.8,0.00,9.2,192.83,NaN,1014.7

In [9]:
df.to_csv("weather_data.csv",index=False)